:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #0355cc;
  /* --primary2:#e31414; */
  --orange: #ff8a1d;
  --darkBlue: #0a0f43;
  --lightBlue: #d1e3ff;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

main {
  position: relative;
}

a {
  text-decoration: none;
}