:root {
  --white: #ffffff;
  --black: #000000;
  --primary1: #0355cc;
  /* --primary2:#e31414; */
  --primary2: #ff8a1d;
  --primary3: #0a0f43;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  position: relative;
}